# Visual Studio
.vs/
bin/
obj/
*.user
*.suo
*.cache
*.log

# Environment variables
.env

# ASP.NET
appsettings.Development.json

# Node / Angular (si aplica)
node_modules/
dist/

# OS
.DS_Store
Thumbs.db
